body {
  font-family: Arial, sans-serif;
}

.testimonial-container {
  background-color: #f5f5f5;
  padding: 20px;
  width: 70%;
  margin: auto;
}

.testimonial-1,.testimonial-2 {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
}

.text {
  font-size: 16px;
}

.author {
  text-align: right;
  font-style: italic;
}
